@import './config.scss';

:host /deep/ * {
	box-sizing: border-box;
}
.ng2-slider-component {
	position: relative;
	padding: $slider-padding;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 12px;
}