@import '../config.scss';

.slider-bar-container {
	position: relative;
	.slider-bar {
		height: $slider-bar-height;
		width: 100%;
		background-color: $slider-bar-color;
	}

	.slider-labels {
		margin-top: 15px;
		width: 100%; 
		display: flex;
		&::after {
			display: block;
			position: absolute;
			content: '';
			height: $slider-bar-height * 2;
			width: $slider-bar-height / 4;
			background-color: $slider-bar-color;
			top: 0;
			right: 0;
		}
		.slider-label-item {
			flex: 1;

			span {
				transform: translate(-50%, 0);
				position: relative;
				display: inline-block;
			}

			&:first-child {
				span {
					transform: translate(-20%, 0);
				}
			}

			&:last-child {
				span {
					transform: translate(20%, 0);
				}
			}

			&::after {
				display: block;
				position: absolute;
				content: '';
				height: $slider-bar-height * 2;
				width: $slider-bar-height / 4;
				background-color: $slider-bar-color;
				top: 0;
			}
			
			&.is-last {
				position: absolute;
				right: 0;

				&::after {
					display: none;
				}
			}
		}
	}
}